:root {
  --gap: 2px;
  --color-white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

/*
  css reset Josh W Comeau
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* end of css reset */

body {
  background-color: #d5e1ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  font-family: "Outfit", sans-serif;
  height: 30rem;
  width: 20rem;
  border-radius: 5%;
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* outline: red solid 1px; */
}

img {
  object-fit: cover;
  border-radius: 5%;
}

.card__text {
  /* outline: red solid 1px; */
  text-align: center;
}

.card__text > h2 {
  color: var(--dark-blue);
  font-size: 1.25rem;
}

.card__text > p {
  color: var(--grayish-blue);
  /* font-size: 1.25rem; */
}

.text-content {
  padding: 1rem;
}

.main-text {
  padding: 0 0.8rem;
}

.main-text p {
  color: #21314d;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 1rem;
  text-align: center;
}

.sub-text p {
  color: #aeb3bf;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.footer {
  margin-top: 1rem;
  font-size: 0.875rem;
  font-family: "Outfit", sans-serif;
  text-align: center;
  padding: 0 var(--gap);
  max-width: 40ch;
}
