:root {
  --gap: 2px;
}

/*
  css reset Josh W Comeau
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* end of css reset */

body {
  background-color: #d5e1ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  font-family: "Outfit", sans-serif;
}

.card {
  height: 30rem;
  width: 20rem;
  border-radius: 5%;
  background-color: #fff;
  padding: 1rem 1rem 5rem 1rem;
}

.flex-c {
  display: flex;
  justify-content: center;
}

.flex-col-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  object-fit: cover;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

img {
  border-radius: 5%;
}

.text-content {
  padding: 1rem;
}

.main-text {
  padding: 0 0.8rem;
}

.main-text p {
  color: #21314d;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 1rem;
  text-align: center;
}

.sub-text p {
  color: #aeb3bf;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.footer {
  margin-top: 1rem;
  font-size: 0.875rem;
  font-family: "Outfit", sans-serif;
  text-align: center;
  padding: 0 var(--gap);
  max-width: 40ch;
}
